# Ignorowanie plików i katalogów systemowych specyficznych dla macOS
../.DS_Store
.DS_Store
.AppleDouble
.LSOverride

# Ignorowanie katalogów tworzących się w Visual Studio
.vs/

# Ignorowanie katalogów kompilacji
bin/
obj/

# Ignorowanie plików generowanych przez macOS i aplikacje
Thumbs.db
Desktop.ini

# Ignorowanie plików kompilacyjnych i generowanych przez IDE
*.log
*.user
*.userosscache
*.suo
*.sln.docstates
